<!DOCTYPE html>
<html lang = "pl">
<head>

    <meta charset="8">
    <title> Nauka Programowania </title>
    <meta name="description" content="Strona poświęcona nauce programowania">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" href="{% static 'css/grafika1.css' %}" type="text/css"/>
</head>
<body>
    <div id="cont">
        <div class="rectangle">
                <div class="logo">
                    <a class="tilelink" href="index.html">
                        NAUKA PROGRAMOWANIA
                    </a>
                </div>
                <div style="clear: both;"></div>
            </div>
    <div class="square">
        <h1 class="tytul"> PRZYKŁADOWY TYTUŁ </h1>
        <!-- to jest komentarz o to sie nie martw, sugerowałbym, zebys tekst laczyla w bloki tematyczne i zeby byly w jednym "a class=tytul" tzn wszyskie basicki o listach w jednym a, wszystkie basici o slownikach w kolejnym a, itd itd -->
        <h1 class="podtytul"> PRZYKŁADOWY PODTYTUŁ </h1>
        <a class="tekst "> Tutaj piszesz a właściwie kopiujesz to co było w prezentacjach jukiego i się raczej nie martwisz ruchanie dupa sex sraka jebaka wypizdziejewo dolne karolina ssie palki lubie w dupe kutas stoi stolik wodny w dchujo dwa trzy cztery chuj na piec</a>
        <br>

        <!-- ponizszy kod to nic innego jak sposob wstawiania obrazkow, jezeli wstawiasz jaki obrazek trzymaj go w folderze w ktorym masz ten plik (temat1/2/3/4) i mi go wyslala z plikami i src wpisujesz po prostu nazwe tego pliku z rozszerzeniem. Sugeruje zebys nazwala te pliki jakos intuicyjnie.
        parametr width jest po to zeby kazdy obrazek byl tej samej wielkosci i zawsze byl ladnie wysrodkowany-->
       <!-- <img src="Tu podaj względną ścieżkę dostępu do obrazka" alt="Tu podaj tekst alternatywny" width='900px'> -->
        <img src="obrazek.jpeg" alt="Tu podaj tekst alternatywny" width='900px'>

        <!-- pamietaj zeby miedzy kazdym nowym kodem wstawic <br> czyli przeniesienie do nowej linijki, gdy tego nie zrobissz tekst/obrazek bedzie sprawiac problemy wiec pamietaj-->
        <br>

        <a class="tekst "> Tutaj piszesz a właściwie kopiujesz to co było w prezentacjach jukiego i się raczej nie martwisz ruchanie dupa sex sraka jebaka wypizdziejewo dolne karolina ssie palki lubie w dupe kutas stoi stolik wodny w dchujo dwa trzy cztery chuj na piec</a>

    </div>

    </div>


</body>
</html>
