<!DOCTYPE html>
{% load static %}
<html lang = "pl">
<head>

    <meta charset="8">
    <title> Nauka Programowania </title>
    <meta name="description" content="Strona poświęcona nauce programowania">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" href="{% static 'css/grafika1.css' %}" type="text/css"/>
</head>
<body>
    <div id="cont">
        <div class="rectangle">
                <div class="logo">
                    <a class="tilelink" href="index.html">
                        NAUKA PROGRAMOWANIA
                    </a>
                </div>
                <div style="clear: both;"></div>
            </div>
    <div class="square">
      <h1 class="tytul"> Typy </h1>
      <!-- to jest komentarz o to sie nie martw, sugerowałbym, zebys tekst laczyla w bloki tematyczne i zeby byly w jednym "a class=tytul" tzn wszyskie basicki o listach w jednym a, wszystkie basici o slownikach w kolejnym a, itd itd -->
      <h1 class="podtytul">  </h1>
      <a class="tekst "> O typach wspominaliśmy już dwa razy, warto więc wyjaśnić co to takiego. Zacznijmy może od stwierdzenia, że Python jest językiem z dynamicznym typowaniem, co jak na razie znaczy dla Ciebie tylko tyle, że możesz napisać
      <br>
      <br>jakas_zmienna <font color="green"> =</font><font color="powderblue"> "To jest jakis napis"</font>
      <br><font color="orange">print</font> jakas_zmienna
      <br>jakas_zmienna <font color="green"> = </font><font color="orange"> 8.5 </font>
      <br><font color="orange"> print </font> jakas_zmienna
      <br>
      <br>I program zadziała poprawnie, nie przejmując się tym, że początkowo jakas_zmienna była napisem a zaraz potem była liczbą.
      <br>Tak więc typ to rodzaj wyrażenia, podstawowe typy zmiennych to:
      <br>
      <br><font color="yellow" size="6"> Wartość logiczna:</font>
      <br>
      <br>Jest to wartość prawda (reprezentowana przez napis True) lub fałsz (odpowiednio False)
      <br>Używana do określania zawartości, która może przyjmować tylko dwie możliowe wartości, takich jak:
      <br><font color="pink"> lubie_placki </font><font color="lightgreen"> = True </font>
      <br>
      <br><font color="yellow" size="6"> Napis: </font>
      <br>
      <br>Ten typ już poznałeś
      <br>
      <br><font color="yellow" size="6"> Liczba całkowita: </font>
      <br>
      <br>Służy do zapisu liczb takich jak 1 lub -115741
      <br>UWAGA: przypominamy, że operacja dzielenia dwóch liczb całkowitych w Pythonie 2 daje wynik również będący liczbą całkowitą!
      <br>
      <br><font color="yellow" size="6"> Liczba zmienno przecinkowa: </font>
      <br>
      <br>Jak sama nazwa wskazuje są to liczby takie jak 1.57524 lub nawet 18.0
      Ważne by używać kropki do ich zapisu
      <br>
      <br>Bardziej złożone typy, o których wystarczy wiedzieć że są, bo omówimy je na kolejnej stronie:
      <br>(umieszaczamy je tu, aby łatwo było przypomnieć sobie informacje o wszystkich typach)
      <br>
      <br><font color="yellow" size="6"> Lista: </font>
      <br>
      <br>Zawiera więcej uporządkowanych elementów dowolnego typu
      Tworzy się ją za pomocą nawiasów kwadratowych, a kolejne wartości oddziela przecinkami
      <br>
      <br><font color="pink"> lista </font><font color="green"> = </font> [<font color="pink"> 1 </font><font color="green"> , </font><font color="pink"> 2 </font><font color="green"> , </font><font color="pink"> 3 </font>
      <font color="blue"> "napis" </font> <font color="lightgreen"> True </font><font color="pink"> 11 </font> ]
      <br>
      <br>
      <br><font color="yellow" size="6"> Słownik: </font>
      <br>
      <br>Bardzo użyteczny typ
      <br>Nazwa jest odpowiednia do tego jak działa, ma bowiem "klucz" i "wartość"
      <br><font color="pink"> slownik </font><font color="green"> = </font> { <font color="blue"> "jabłecznik" </font><font color="pink"> : </font> <font color="blue"> "ciasto z jablek" </font><font color="green"> , </font><font color="blue"> "czy lubisz </font>
      <font color="pink"> jablecznik" </font> : <font color="green"> True </font>
      <br>
      <br> Wkrótce rozwiniemy temat nieco bardziej złożonych typów danych.
      <br>
      <br><font color="darkgreen" size="6"> POWODZENIA!
      <br>
      </a>

      <img src="https://comel-it.com/wp-content/uploads/2016/11/36189977_1170-768x607.jpg" alt="" width='500px'>

      
      <br>

      <a class="tekst "> </a>
    </div>

    </div>


</body>
</html>
